@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    overflow: hidden;
    -webkit-animation: changeBG .9s forwards 3s;
    animation: changeBG .9s forwards 3s;
}


/* fonts */
h1,h2,h3,h4,h5,h6, p, a, span {
    font-family: 'Tajawal', sans-serif;
}

/* Colors */
:root { 
    --primary: #ffcd02;
    --secondary: #fdc306;
    --specific: #d73526;
    --dark: #090711;
    --white: #ffffff;

}

.slider1 {
    width: 100%;
    height: 100vh;
    background: var(--primary);
    -webkit-animation: up1 .9s forwards .2s;
    animation: up1 .9s forwards .2s;
}

.slider2 {
    width: 100%;
    height: 100vh;
    background: var(--secondary);
    -webkit-animation: up1 .9s forwards .3s;
    animation: up1 .9s forwards .3s;
}

.slider3 {
    width: 100%;
    height: 100vh;
    background: var(--primary);
    opacity: 0.6;
    -webkit-animation: up1 .8s forwards .4s;
    animation: up1 .8s forwards .4s;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logoWrap {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    -webkit-animation: fadeOut 0.9s forwards 3s;
    animation: fadeOut 0.9s forwards 3s;
}

.logo {
    width: 40%;
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards 2s;
    animation: fadeIn 1s forwards 2s;
}

.logoWrap::before {
    content: "";
    background: var(--primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 48%;
    top: 46%;
    position: absolute;
    -webkit-animation: fadeIn 1s forwards 2s, scaleIn 1s forwards 3s;
    animation: fadeIn 1s forwards 2s, scaleIn 1s forwards 3s;
    opacity:0;
    transform: scale3d(1,1,1);
}

.textComingSoon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-black {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards 5s;
    animation: fadeIn 1s forwards 5s;
}

.textComingSoon .ar {
    position: relative;
    top: -90px;
    font-size: 23rem;
    -webkit-animation: fadeIn 1s forwards 5.6s;
    animation: fadeIn 1s forwards 5.6s;
    opacity: 0; 
}

.textComingSoon .en {
    position: relative;
    top: -90px;
    text-align: center;
    font-size: 5rem;
    -webkit-animation: fadeIn 1s forwards 6.2s;
    animation: fadeIn 1s forwards 6.2s;
    opacity: 0; 

}




@keyframes up1 {
    from {
        height: 100vh;
    } to {
        height: 0vh;
    }
}

@keyframes up2 {
    from {
        height: 100vh;
    } to {
        height: 0vh;
    }
}

@keyframes up3 {
    from {
        height: 100vh;
    } to {
        height: 0vh;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale3d(1,1,1);
    } to {
        transform: scale3d(190,190,1);
    }
}

@keyframes changeBG {
    from{
        background: var(--white);
    } to {
        background: var(--primary);
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 27%;
    }



    .logoWrap::before {
        top: 47%;
    }

    .textComingSoon .ar{
        top: 0;
        font-size: 7rem;
    }

    .textComingSoon .en{
        top: 0;
        font-size:2rem;
    }
}